.item-container {
    width: 800px;
    height: 50px;
    background-color: rgb(60, 60, 153);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-text {
    color: red;
}

.icons {
    color: rgb(112, 241, 112);
}