.whole-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.custom-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(236, 233, 28);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 50%; /* Adjust the width as needed */
    height: 15%; /* Adjust the height as needed */
  }
  
  .custom-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  }

  .input-text{
    width: 85%;
    height: 25%;
  }

  .create-modal{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    margin-left: 25px;
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.8s ease; /* Smooth transition for background color change */
  }

.create-btn{
    background-color: transparent; /* Set background color to transparent */
    border: 1px solid transparent; /* Set border color to transparent */
    
}

.create-modal:hover{
  background-color: rgb(132, 181, 255);
}
  
