.App {
  min-height: 100vh; /* Minimum height of the container, ensuring it takes at least the full viewport height */
  max-height: 100%; /* Maximum height of the container relative to its parent */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #00AAFF, #00FF6C);
  
}

h1 {
  color: white;
}